<section class="container">
    <div class="row">
        <div class="sm-6">
            <h2>なんちゃってInstagram</h2>
            <p>Instagram風のデモアプリです。</p>
        </div>
        <div class="sm-6">
            <img src="<%= asset_path "instagram.jpg" %>">
        </div>
    </div>
</section>
